@model IEnumerable<Website.Models.Database.ShortLink>

@{
    ViewData["Title"] = "Short Links";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="pure-table pure-table-horizontal pure-table-striped stretch">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Link</th>
            <th scope="col">Hits</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td><a href="@Html.DisplayFor(modelItem => item.RedirectLink)">@Html.DisplayFor(modelItem => item.RedirectLink)</a></td>
                <td>@Html.DisplayFor(modelItem => item.HitsCount)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a hx-post
                       hx-controller="ShortLinks"
                       hx-action="Delete"
                       hx-route-id="@item.Id"
                       hx-confirm="Are you sure you wish to delete this short link?">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
