@model IEnumerable<Website.Models.Database.Image>

@{
    ViewData["Title"] = "Image Database";
}

<h1>@ViewData["Title"]</h1>

<p>A collection of all images uploaded to this site.</p>

@foreach (var item in Model) {

    <w-image src="@item.Url" alt="@item.Description" />
    <br />
    <p>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> /
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </p>
    <hr />
}
