@model IEnumerable<Website.Models.Database.Gallery>


@{
    ViewData["Title"] = "Photography";
}

<h1>Photography</h1>

@foreach (var item in Model)
{
    <section>
        <h3>@item.Title</h3>
        <p>@item.Description</p>

        <div class="gallery">
            @foreach (var image in item.Images)
            {
                <w-image src="@image.Url" alt="@image.Description" />
            }
        </div>

        @if (User.Identity?.IsAuthenticated ?? false)
        {
            <p>
                <br />
                <a asp-action="Edit" asp-route-id="@item.Id">edit</a> /
                <a asp-action="Delete"
                   asp-route-id="@item.Id"
                   hx-post
                   hx-controller="Gallery"
                   hx-action="Delete"
                   hx-route-id="@item.Id"
                   hx-confirm="Are you sure you wish to delete this gallery?">
                    delete
                </a>
            </p>
        }
    </section>
}