@using Microsoft.AspNetCore.Http.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Hello, my name is Dominic. I'm primarily a .NET developer focusing on UWP &amp; WPF, and a Computer Science Student.">
    <title>@ViewData["Title"]</title>
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    <!-- Custom Styles -->
    <environment include="Development">
        <link rel="stylesheet" href="~/dist/purecss/pure-min.css" />
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>

    <environment include="Production">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
    
    @await RenderSectionAsync("Styles", required: false)
    
    <!-- Custom Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- Icon Fonts -->
    <script defer src="~/dist/fontawesome/js/all.min.js"></script>
</head>
<body>
    <div class="container">
        <!-- Page header -->
        <div class="header">
            <!-- Page title -->
            <p class="page-title">Dominic Maas</p>
            
            <!-- Navigation Links -->
            <nav>
                <ul>
                    <li><a class="@(Context.Request.Path == "/" ? "active" : "")" href="/"><span class="i-holder"><i class="fad fa-fw fa-home"></i></span>about</a></li>
                    <li><a class="@(Context.Request.Path == "/cv" ? "active" : "")" href="/cv"><span class="i-holder"><i class="fad fa-fw fa-book"></i></span>curriculum vitae</a></li>
                    <li><a class="@(Context.Request.Path == "/projects" ? "active" : "")" href="/projects"><span class="i-holder"><i class="fad fa-fw fa-rectangle-portrait"></i></span>projects</a></li>
                    <li><a class="@(Context.Request.Path == "/style" ? "active" : "")" href="/style"><span class="i-holder"><i class="fad fa-fw fa-palette"></i></span>style guide</a></li>
                    <li><a class="@(Context.Request.Path == "/contact" ? "active" : "")" href="/contact"><span class="i-holder"><i class="fad fa-fw fa-paper-plane"></i></span>contact</a></li>
                </ul>
            </nav>
        </div>
        
        <!-- Page content -->
        @RenderBody()
        
        <footer>
            <small>Copyright © @DateTime.Now.Year Dominic Maas</small>
            <ul>
                <li><a class="twitter" href="https://twitter.com/dominicjmaas"><i class="fab fa-fw fa-twitter"></i></a></li>
                <li><a class="github" href="https://github.com/DominicMaas"><i class="fab fa-fw fa-github"></i></a></li>
            </ul>
        </footer>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
