<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Hello, my name is Dominic. I'm primarily a .NET developer focusing on Windows GUI Platforms (UWP, WinUI &amp; WPF), alongside mobile platforms via Xamarin Forms.">
    <title>@ViewData["Title"]</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Custom Styles -->
    <environment include="Development">
        <link rel="stylesheet" href="~/dist/purecss/pure-min.css" />
        <link rel="stylesheet" href="~/dist/purecss/grids-responsive-min.css" />
        <link rel="stylesheet" href="~/dist/prism/prism.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment include="Production">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>

    @await RenderSectionAsync("Styles", required: false)

    <!-- Custom Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <!-- Scripts -->
    <environment include="Development">
        <script defer src="~/dist/fontawesome/js/brands.min.js"></script>
        <script defer src="~/dist/fontawesome/js/duotone.min.js"></script>
        <script defer src="~/dist/fontawesome/js/fontawesome.min.js"></script>
        <script defer src="~/dist/prism/prism.js"></script>
    </environment>

    <environment include="Production">
        <script defer src="~/js/site.min.js"></script>
    </environment>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <div class="container">
        <!-- Page header -->
        <div class="header">
            <!-- Page title -->
            <p class="page-title">Dominic Maas</p>

            <!-- Navigation Links -->
            <nav>
                <ul>
                    <li><a class="@(Context.Request.Path == "/" ? "active" : "")" href="/"><span class="i-holder"><i class="fad fa-fw fa-user"></i></span>about</a></li>
                    <li><a class="@(Context.Request.Path == "/blog" ? "active" : "")" href="/blog"><span class="i-holder"><i class="fad fa-fw fa-rss"></i></span>blog</a></li>
                    <li><a class="@(Context.Request.Path == "/projects" ? "active" : "")" href="/projects"><span class="i-holder"><i class="fad fa-fw fa-tasks"></i></span>projects</a></li>
                    <li><a class="@(Context.Request.Path == "/contact" ? "active" : "")" href="/contact"><span class="i-holder"><i class="fad fa-fw fa-paper-plane"></i></span>contact</a></li>
                </ul>
            </nav>
        </div>

        <!-- Page content -->
        @RenderBody()

        <footer>
            <ul id="footer_links">
                <li><a class="@(Context.Request.Path == "/style" ? "active" : "")" href="/style"><strong>style guide</strong></a></li>
                <li><a class="@(Context.Request.Path == "/cv" ? "active" : "")" href="/cv"><strong>curriculum vitae</strong></a></li>
                <li><a class="@(Context.Request.Path == "/privacy" ? "active" : "")" href="/privacy"><strong>privacy</strong></a></li>
            </ul>
            <small>Copyright © @DateTime.Now.Year Dominic Maas • <span style="opacity: 0.4">@System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</span></small>
            <ul id="footer_icons">
                <li><a class="twitter" aria-label="Twitter" href="https://twitter.com/dominicjmaas"><i class="fab fa-fw fa-twitter"></i></a></li>
                <li><a class="github" aria-label="GitHub" href="https://github.com/DominicMaas"><i class="fab fa-fw fa-github"></i></a></li>
                <li><a class="linkedin" aria-label="Linkedin" href="https://www.linkedin.com/in/dominicjmaas"><i class="fab fa-fw fa-linkedin"></i></a></li>
                <li><a class="goodreads" aria-label="Goodreads" href="https://www.goodreads.com/dominicmaas"><i class="fab fa-fw fa-goodreads"></i></a></li>
            </ul>
        </footer>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
