@using Microsoft.AspNetCore.Http.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    <!-- CSS Library -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" 
          integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" 
          crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Nunito+Sans:wght@700;800&display=swap" rel="stylesheet">
    <!-- Custom Styles -->
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment include="Production">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>

    <!-- Custom Icon Fonts -->
    <script src="https://kit.fontawesome.com/eb19a1bea8.js"></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37972059-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-37972059-9');
    </script>
    
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
<div class="container">
    <!-- Page header -->
    <div class="header">
        <!-- Page title -->
        <p class="page-title">Dominic Maas</p>
        
        <!-- Navigation Links -->
        <nav>
            <ul>
                <li><a class="@(Context.Request.Path == "/" ? "active" : "")" href="/"><span class="i-holder"><i class="fal fa-fw fa-home"></i></span>home</a></li>
                <li><a class="@(Context.Request.Path == "/cv" ? "active" : "")" href="/cv"><span class="i-holder"><i class="fal fa-fw fa-book"></i></span>curriculum vitae</a></li>
                <li><a class="@(Context.Request.Path == "/photos" ? "active" : "")" href="/photos"><span class="i-holder"><i class="fal fa-fw fa-camera-alt"></i></span>photography</a></li>
            </ul>
        </nav>
    </div>
    
    <!-- Page content -->
    @RenderBody()
    
    <footer>
        <ul>
            <li><a class="twitter" href="https://twitter.com/dominicjmaas"><i class="fab fa-fw fa-twitter"></i> @@dominicjmaas</a></li>
            <li><a class="github" href="https://github.com/DominicMaas"><i class="fab fa-fw fa-github"></i> @@DominicMaas</a></li>
            <li><a class="instagram" href="https://www.instagram.com/iamdermernerc/"><i class="fab fa-fw fa-instagram"></i> @@iamdermernerc</a></li>
            <li><a href="/style"><i class="fal fa-fw fa-palette"></i> style guide</a></li>
        </ul>
    </footer>
</div>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment include="Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
